<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array/>
	<key>developer</key>
	<string>Frank Griesshammer</string>
	<key>developerURL</key>
	<string>www.frgr.de</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>1</integer>
	<key>mainScript</key>
	<string>showDist.py</string>
	<key>name</key>
	<string>showDist</string>
	<key>timeStamp</key>
	<real>1443129309.55</real>
	<key>version</key>
	<string>1.1</string>
</dict>
</plist>
