<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array/>
	<key>developer</key>
	<string>Frank Grießhammer</string>
	<key>developerURL</key>
	<string>www.frgr.de</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>1</integer>
	<key>mainScript</key>
	<string>showDist.py</string>
	<key>name</key>
	<string>showDist</string>
	<key>timeStamp</key>
	<real>1516692638.6</real>
	<key>version</key>
	<string>1.6.1</string>
	<key>repository</key>
	<string>frankrolf/showDist</string>
	<key>extensionPath</key>
	<string>showDist.roboFontExt</string>
</dict>
</plist>
